<!-- templates/accounts/profile.html -->
<!DOCTYPE html>
<html>

  <meta name="google-site-verification" content="ad5xSF75uh-eU1Bq95IE2SqvErlO_qvwZWoad6x56-o" />
  <meta name="geo.region" content="IN-TG" />
  <meta name="geo.placename" content="Kothagudem" />
  <meta name="geo.position" content="17.554019;80.617638" />
  <meta name="ICBM" content="17.554019, 80.617638" />
  <meta name="author" content="Eslavath Narasimha Naik" />
    <title>Your Profile</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page.</p>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
